Databases/2016/01.XML-Basics/XML-Students/Students/students.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:students" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="school">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="student">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="faculty_number" type="xs:unsignedByte" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="gender" type="xs:string" />
              <xs:element name="birthdate" type="xs:date" />
              <xs:element name="phone" type="xs:unsignedInt" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="course" type="xs:unsignedByte" />
              <xs:element name="specialty" type="xs:string" />
              <xs:element name="exams">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="exam">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="exam_name" type="xs:string" />
                          <xs:element name="score" type="xs:unsignedByte" />
                          <xs:element name="tutor" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="enrollment " minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="date" type="xs:date" />
                    <xs:element name="exam_score" type="xs:unsignedInt" />
                    <xs:element name="teacher_endorsement">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="teacher_name" maxOccurs="unbounded" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>